@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

button {
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 1;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  z-index: -1;
}

.container #stars {
  display: flex;
  position: relative;
}

.container #stars #stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1235px 2072px #FFF, 1616px 3816px #FFF, 3340px 2640px #FFF, 2417px 3100px #FFF, 654px 637px #FFF, 290px 251px #FFF, 2368px 2353px #FFF, 2667px 2391px #FFF, 711px 3853px #FFF, 390px 1887px #FFF, 2247px 1405px #FFF, 2344px 2208px #FFF, 919px 3212px #FFF, 2523px 241px #FFF, 2906px 3338px #FFF, 883px 2311px #FFF, 387px 3128px #FFF, 749px 3620px #FFF, 1711px 2585px #FFF, 173px 2334px #FFF, 3891px 818px #FFF, 2907px 1213px #FFF, 2583px 723px #FFF, 3482px 2997px #FFF, 1971px 2610px #FFF, 884px 2662px #FFF, 627px 3997px #FFF, 1894px 419px #FFF, 691px 1408px #FFF, 3211px 1905px #FFF, 216px 3077px #FFF, 2412px 290px #FFF, 671px 1128px #FFF, 1311px 883px #FFF, 3990px 1921px #FFF, 345px 1916px #FFF, 578px 2474px #FFF, 1928px 3616px #FFF, 950px 607px #FFF, 552px 1947px #FFF, 1579px 3660px #FFF, 3715px 3628px #FFF, 1081px 2776px #FFF, 1834px 2593px #FFF, 3742px 3913px #FFF, 3190px 2389px #FFF, 1951px 1139px #FFF, 1857px 204px #FFF, 3969px 3080px #FFF, 1716px 2541px #FFF, 2392px 1898px #FFF, 1992px 2178px #FFF, 3698px 2389px #FFF, 111px 229px #FFF, 2322px 776px #FFF, 1082px 2782px #FFF, 707px 3085px #FFF, 3903px 1779px #FFF, 930px 1631px #FFF, 3388px 175px #FFF, 2142px 2413px #FFF, 2783px 2728px #FFF, 3383px 2030px #FFF, 1522px 1897px #FFF, 1473px 590px #FFF, 629px 453px #FFF, 1056px 65px #FFF, 3318px 3391px #FFF, 893px 2247px #FFF, 63px 2988px #FFF, 1527px 1437px #FFF, 2936px 3443px #FFF, 1406px 2532px #FFF, 2484px 237px #FFF, 3762px 807px #FFF, 3457px 479px #FFF, 2187px 1185px #FFF, 2239px 1686px #FFF, 2831px 829px #FFF, 556px 2591px #FFF, 3905px 3038px #FFF, 3412px 1966px #FFF, 2158px 3351px #FFF, 3370px 919px #FFF, 2493px 3885px #FFF, 1959px 2522px #FFF, 2591px 2148px #FFF, 504px 2822px #FFF, 2698px 2220px #FFF, 1005px 245px #FFF, 2116px 981px #FFF, 2578px 780px #FFF, 1582px 1337px #FFF, 3377px 3922px #FFF, 240px 484px #FFF, 977px 2326px #FFF, 3631px 2635px #FFF, 3265px 2686px #FFF, 100px 2400px #FFF, 3306px 3696px #FFF, 724px 2589px #FFF, 241px 2284px #FFF, 2079px 107px #FFF, 1082px 2564px #FFF, 2324px 3647px #FFF, 2006px 96px #FFF, 2999px 880px #FFF, 1263px 3384px #FFF, 306px 1457px #FFF, 3502px 1977px #FFF, 51px 469px #FFF, 1313px 1586px #FFF, 904px 1592px #FFF, 1643px 3908px #FFF, 3178px 1930px #FFF, 3584px 2211px #FFF, 642px 239px #FFF, 3382px 3779px #FFF, 1949px 2174px #FFF, 1808px 3374px #FFF, 195px 2160px #FFF, 680px 2916px #FFF, 1737px 1971px #FFF, 532px 569px #FFF, 1859px 3868px #FFF, 713px 899px #FFF, 3768px 3452px #FFF, 1417px 2503px #FFF, 2573px 3852px #FFF, 1049px 2129px #FFF, 3917px 1770px #FFF, 3458px 1555px #FFF, 834px 3316px #FFF, 1614px 3134px #FFF, 2395px 587px #FFF, 1484px 144px #FFF, 1996px 2337px #FFF, 3786px 2622px #FFF, 3189px 532px #FFF, 1897px 2080px #FFF, 2944px 26px #FFF, 1213px 2748px #FFF, 620px 3779px #FFF, 3242px 3546px #FFF, 1706px 1060px #FFF, 1471px 1754px #FFF, 2648px 691px #FFF, 1938px 3860px #FFF, 3588px 361px #FFF, 668px 3028px #FFF, 3360px 444px #FFF, 832px 3162px #FFF, 467px 2284px #FFF, 3314px 3191px #FFF, 2333px 3125px #FFF, 3098px 3194px #FFF, 2754px 1010px #FFF, 1157px 1544px #FFF, 3189px 1022px #FFF, 2242px 3727px #FFF, 957px 1270px #FFF, 281px 2330px #FFF, 3695px 976px #FFF, 450px 1978px #FFF, 571px 1592px #FFF, 3457px 1273px #FFF, 2883px 2914px #FFF, 119px 2191px #FFF, 3082px 1759px #FFF, 1688px 2208px #FFF, 1864px 202px #FFF, 2149px 3252px #FFF, 1196px 1146px #FFF, 1976px 3406px #FFF, 3201px 1658px #FFF, 368px 3827px #FFF, 1399px 1786px #FFF, 1919px 3932px #FFF, 2910px 1490px #FFF, 856px 961px #FFF, 3317px 2013px #FFF, 1842px 1683px #FFF, 560px 948px #FFF, 388px 979px #FFF, 2090px 2984px #FFF, 2426px 2419px #FFF, 437px 2908px #FFF, 3343px 3993px #FFF, 230px 1000px #FFF, 372px 3986px #FFF, 3229px 3617px #FFF, 3141px 1131px #FFF, 3060px 1351px #FFF, 2422px 3067px #FFF, 3637px 114px #FFF, 3655px 1934px #FFF, 2564px 1588px #FFF, 3166px 3312px #FFF, 1804px 957px #FFF, 3913px 1606px #FFF, 3664px 1673px #FFF, 2100px 2981px #FFF, 413px 387px #FFF, 1076px 1513px #FFF, 3909px 3651px #FFF, 540px 3266px #FFF, 784px 3191px #FFF, 1740px 1001px #FFF, 3114px 2807px #FFF, 2261px 826px #FFF, 3736px 3796px #FFF, 106px 180px #FFF, 2001px 982px #FFF, 48px 1122px #FFF, 2363px 780px #FFF, 139px 2020px #FFF, 2031px 3914px #FFF, 1218px 3634px #FFF, 3621px 2170px #FFF, 367px 895px #FFF, 3628px 1599px #FFF, 73px 3593px #FFF, 827px 658px #FFF, 282px 3910px #FFF, 2166px 144px #FFF, 961px 2014px #FFF, 997px 3687px #FFF, 1846px 117px #FFF, 3370px 3114px #FFF, 3141px 2141px #FFF, 915px 443px #FFF, 2785px 2323px #FFF, 1181px 3463px #FFF, 2179px 474px #FFF, 705px 1199px #FFF, 173px 1998px #FFF, 3659px 1604px #FFF, 2173px 308px #FFF, 64px 255px #FFF, 1568px 287px #FFF, 1646px 179px #FFF, 2425px 3970px #FFF, 2002px 415px #FFF, 3272px 3638px #FFF, 1080px 2142px #FFF, 166px 33px #FFF, 2568px 2797px #FFF, 2639px 3704px #FFF, 2274px 1836px #FFF, 1883px 3044px #FFF, 936px 467px #FFF, 3198px 3715px #FFF, 1313px 894px #FFF, 195px 1214px #FFF, 815px 3027px #FFF, 3715px 901px #FFF, 2537px 2126px #FFF, 155px 1061px #FFF, 530px 2603px #FFF, 858px 3087px #FFF, 934px 864px #FFF, 457px 638px #FFF, 1744px 917px #FFF, 1491px 2668px #FFF, 3852px 1122px #FFF, 609px 1673px #FFF, 2194px 2570px #FFF, 85px 923px #FFF, 2067px 1777px #FFF, 2225px 784px #FFF, 2815px 1838px #FFF, 126px 2404px #FFF, 3400px 1381px #FFF, 1664px 1095px #FFF, 1718px 3259px #FFF, 580px 3459px #FFF, 1126px 3265px #FFF, 1450px 450px #FFF, 2055px 533px #FFF, 272px 2906px #FFF, 2881px 1817px #FFF, 297px 2868px #FFF, 3150px 2880px #FFF, 2474px 2986px #FFF, 3655px 3190px #FFF, 3176px 102px #FFF, 794px 1663px #FFF, 942px 1939px #FFF, 1920px 3186px #FFF, 1855px 3434px #FFF, 474px 1982px #FFF, 3023px 1550px #FFF, 2088px 3242px #FFF, 717px 610px #FFF, 576px 1185px #FFF, 494px 2832px #FFF, 98px 259px #FFF, 2258px 3585px #FFF, 3049px 1293px #FFF, 3893px 114px #FFF, 2155px 2748px #FFF, 3120px 313px #FFF, 3693px 3099px #FFF, 973px 2021px #FFF, 77px 1384px #FFF, 963px 2748px #FFF, 1806px 1174px #FFF, 1743px 2253px #FFF, 2300px 964px #FFF, 997px 2741px #FFF, 1270px 1323px #FFF, 82px 2473px #FFF, 3554px 2180px #FFF, 568px 715px #FFF, 2608px 3817px #FFF, 1396px 527px #FFF, 1251px 314px #FFF, 1744px 3379px #FFF, 148px 2454px #FFF, 991px 1885px #FFF, 1182px 3217px #FFF, 2703px 140px #FFF, 601px 278px #FFF, 3495px 1675px #FFF, 1142px 986px #FFF, 6px 457px #FFF, 2212px 3292px #FFF, 274px 3162px #FFF, 3654px 1688px #FFF, 3978px 1237px #FFF, 1455px 1154px #FFF, 3340px 3435px #FFF, 2023px 3531px #FFF, 3041px 2194px #FFF, 3583px 2367px #FFF, 3061px 487px #FFF, 3476px 1520px #FFF, 1214px 3961px #FFF, 200px 3193px #FFF, 2603px 95px #FFF, 3808px 3568px #FFF, 3896px 617px #FFF, 1754px 3919px #FFF, 2052px 1553px #FFF, 3832px 252px #FFF, 2315px 1586px #FFF, 677px 1151px #FFF, 3851px 2817px #FFF, 3981px 2691px #FFF, 1571px 653px #FFF, 3768px 512px #FFF, 2766px 1777px #FFF, 1021px 3047px #FFF, 3518px 3511px #FFF, 1728px 1365px #FFF, 793px 1155px #FFF, 792px 1961px #FFF, 1710px 3636px #FFF, 168px 2397px #FFF, 3063px 561px #FFF, 1090px 816px #FFF, 1772px 3173px #FFF, 2756px 3576px #FFF, 2660px 3503px #FFF, 839px 2216px #FFF, 2394px 3183px #FFF, 1217px 1038px #FFF, 2037px 2092px #FFF, 3666px 811px #FFF, 2641px 3066px #FFF, 2869px 2740px #FFF, 433px 1671px #FFF, 3737px 2108px #FFF, 1743px 46px #FFF, 189px 686px #FFF, 506px 3213px #FFF, 3707px 3584px #FFF, 1790px 79px #FFF, 2806px 342px #FFF, 1179px 1759px #FFF, 3979px 3499px #FFF, 2520px 1080px #FFF, 2431px 560px #FFF, 3309px 945px #FFF, 615px 35px #FFF, 1407px 1309px #FFF, 3685px 958px #FFF, 2293px 3161px #FFF, 2016px 3393px #FFF, 3887px 3221px #FFF, 3114px 3932px #FFF, 1920px 1957px #FFF, 2179px 657px #FFF, 688px 3864px #FFF, 830px 164px #FFF, 1500px 3560px #FFF, 182px 3312px #FFF, 3982px 796px #FFF, 2876px 332px #FFF, 3646px 863px #FFF, 2517px 84px #FFF, 616px 1999px #FFF, 581px 1590px #FFF, 1789px 3372px #FFF, 85px 1026px #FFF, 2806px 1162px #FFF, 3805px 2940px #FFF, 2285px 1668px #FFF, 717px 693px #FFF, 3414px 3366px #FFF, 1962px 1425px #FFF, 76px 3903px #FFF, 1471px 424px #FFF, 2091px 1451px #FFF, 2951px 2945px #FFF, 3092px 2484px #FFF, 500px 1718px #FFF, 2574px 752px #FFF, 1571px 1533px #FFF, 1318px 1278px #FFF, 2033px 1490px #FFF, 787px 3422px #FFF, 3876px 569px #FFF, 3917px 1869px #FFF, 665px 3019px #FFF, 3263px 2369px #FFF, 2108px 3647px #FFF, 2326px 3358px #FFF, 1776px 2776px #FFF, 2091px 780px #FFF, 1205px 1912px #FFF, 3135px 3762px #FFF, 2961px 2986px #FFF, 3557px 1169px #FFF, 3880px 3587px #FFF, 1709px 689px #FFF, 3299px 2894px #FFF, 1047px 3116px #FFF, 730px 2309px #FFF, 2411px 875px #FFF, 369px 3399px #FFF, 165px 480px #FFF, 688px 1790px #FFF, 2765px 3736px #FFF, 2957px 3294px #FFF, 1373px 2483px #FFF, 2877px 2031px #FFF, 3696px 1324px #FFF, 155px 179px #FFF, 1465px 69px #FFF, 1838px 3357px #FFF, 1338px 3235px #FFF, 1238px 2977px #FFF, 1886px 1359px #FFF, 2080px 2792px #FFF, 1045px 1944px #FFF, 3484px 2669px #FFF, 2462px 1712px #FFF, 1050px 260px #FFF, 3827px 1535px #FFF, 1349px 692px #FFF, 2605px 2059px #FFF, 367px 1855px #FFF, 3864px 3654px #FFF, 3514px 3768px #FFF, 2547px 1456px #FFF, 2662px 3878px #FFF, 2044px 3466px #FFF, 1225px 3123px #FFF, 1742px 1543px #FFF, 154px 3123px #FFF, 502px 2837px #FFF, 3664px 3965px #FFF, 2354px 2298px #FFF, 3598px 2972px #FFF, 3177px 83px #FFF, 2568px 1072px #FFF, 3433px 495px #FFF, 3552px 845px #FFF, 252px 532px #FFF, 2577px 3394px #FFF, 35px 3640px #FFF, 3794px 3362px #FFF, 1671px 2236px #FFF, 1140px 2237px #FFF, 3456px 2681px #FFF, 1797px 680px #FFF, 884px 238px #FFF, 3789px 143px #FFF, 3291px 1012px #FFF, 3939px 1978px #FFF, 2951px 3622px #FFF, 2430px 2244px #FFF, 3452px 3596px #FFF, 3372px 3256px #FFF, 1497px 751px #FFF, 1189px 2909px #FFF, 1639px 3740px #FFF, 1983px 3800px #FFF, 917px 1544px #FFF, 3094px 980px #FFF, 3826px 3249px #FFF, 3057px 2083px #FFF, 1758px 39px #FFF, 2085px 2412px #FFF, 3067px 3595px #FFF, 2448px 3051px #FFF, 1939px 1104px #FFF, 3234px 2382px #FFF, 1071px 3127px #FFF, 1962px 1045px #FFF, 2897px 3991px #FFF, 1025px 3171px #FFF, 1283px 2160px #FFF, 3420px 1729px #FFF, 412px 2596px #FFF, 3100px 1482px #FFF, 771px 3866px #FFF, 2778px 3560px #FFF, 345px 140px #FFF, 3689px 1280px #FFF, 326px 2376px #FFF, 2622px 3232px #FFF, 1840px 2573px #FFF, 464px 651px #FFF, 3393px 2329px #FFF, 685px 1432px #FFF, 68px 1260px #FFF, 1539px 3692px #FFF, 3553px 2967px #FFF, 2270px 2193px #FFF, 3423px 2914px #FFF, 2858px 3776px #FFF, 3363px 3296px #FFF, 603px 900px #FFF, 999px 3491px #FFF, 2807px 2863px #FFF, 2198px 3677px #FFF, 3149px 16px #FFF, 997px 3228px #FFF, 2958px 606px #FFF, 1901px 2040px #FFF, 3758px 719px #FFF, 387px 1440px #FFF, 1284px 3901px #FFF, 2813px 1270px #FFF, 1075px 3285px #FFF, 2848px 997px #FFF, 1068px 317px #FFF, 3961px 2644px #FFF, 483px 1377px #FFF, 2405px 2234px #FFF, 2829px 654px #FFF, 3238px 1212px #FFF, 1098px 2194px #FFF, 1736px 1833px #FFF, 3442px 539px #FFF, 184px 1900px #FFF, 3953px 3875px #FFF, 2635px 2195px #FFF, 1197px 3591px #FFF, 1398px 3763px #FFF, 2264px 2069px #FFF, 681px 2087px #FFF, 1356px 1439px #FFF, 1101px 85px #FFF, 2183px 3953px #FFF, 2939px 3722px #FFF, 3882px 2379px #FFF, 1786px 1196px #FFF, 1014px 654px #FFF, 1652px 3359px #FFF, 2384px 1894px #FFF, 3689px 3491px #FFF, 1402px 638px #FFF, 577px 2676px #FFF, 2932px 3659px #FFF, 1271px 853px #FFF, 607px 2390px #FFF, 2302px 2492px #FFF, 2270px 244px #FFF, 1321px 152px #FFF, 2811px 1788px #FFF, 364px 740px #FFF, 785px 890px #FFF, 2623px 3698px #FFF, 810px 532px #FFF, 2825px 330px #FFF, 2484px 414px #FFF, 2401px 1393px #FFF, 3132px 1736px #FFF, 673px 1508px #FFF, 159px 130px #FFF, 2226px 3994px #FFF, 718px 2634px #FFF, 1166px 1868px #FFF, 255px 3537px #FFF, 837px 996px #FFF, 3792px 3484px #FFF, 2536px 2756px #FFF, 1419px 3464px #FFF, 1077px 806px #FFF, 985px 3800px #FFF, 2863px 895px #FFF, 3373px 359px #FFF, 421px 3126px #FFF, 3690px 3732px #FFF, 3147px 3390px #FFF, 315px 1344px #FFF, 2419px 3821px #FFF, 119px 3641px #FFF, 1444px 1406px #FFF, 1891px 220px #FFF, 880px 1306px #FFF, 2528px 3209px #FFF, 2203px 2732px #FFF, 2506px 946px #FFF, 962px 758px #FFF, 2171px 3912px #FFF, 869px 1208px #FFF, 1558px 3636px #FFF, 3183px 2950px #FFF, 1139px 618px #FFF, 553px 2248px #FFF, 2067px 1052px #FFF, 445px 2538px #FFF, 3185px 3453px #FFF, 2842px 2936px #FFF, 1859px 2758px #FFF, 1434px 2850px #FFF, 2340px 2687px #FFF, 1456px 3543px #FFF, 2482px 3989px #FFF, 1419px 1812px #FFF, 1716px 1504px #FFF, 718px 1365px #FFF, 3972px 3224px #FFF, 342px 2596px #FFF, 2032px 2263px #FFF, 1559px 2080px #FFF, 511px 1444px #FFF, 2155px 688px #FFF, 2567px 2636px #FFF, 2543px 2105px #FFF, 661px 883px #FFF, 3747px 1893px #FFF, 2952px 682px #FFF, 1909px 508px #FFF, 1923px 2730px #FFF, 34px 228px #FFF, 2455px 3388px #FFF, 1945px 2657px #FFF, 1598px 2139px #FFF, 332px 2277px #FFF, 1826px 597px #FFF, 955px 2199px #FFF, 3535px 3289px #FFF, 2326px 2057px #FFF, 2499px 2091px #FFF, 1338px 1792px #FFF, 3718px 3902px #FFF, 1785px 468px #FFF, 3356px 3827px #FFF, 1142px 1598px #FFF, 1946px 976px #FFF, 1312px 2552px #FFF, 3151px 3560px #FFF, 3480px 2609px #FFF, 2933px 1991px #FFF, 1031px 3663px #FFF, 3993px 809px #FFF, 2970px 3452px #FFF, 536px 1153px #FFF, 867px 513px #FFF, 597px 3320px #FFF, 3006px 980px #FFF, 3309px 3431px #FFF, 2142px 2359px #FFF, 3592px 1815px #FFF, 2495px 2545px #FFF, 196px 3936px #FFF, 2659px 3064px #FFF, 563px 1638px #FFF, 97px 2718px #FFF, 3881px 3691px #FFF, 1087px 660px #FFF, 273px 237px #FFF, 2340px 1655px #FFF, 913px 3421px #FFF, 3060px 2979px #FFF, 1764px 2744px #FFF, 880px 3124px #FFF, 1661px 2445px #FFF, 3187px 392px #FFF, 2395px 1970px #FFF, 1748px 1001px #FFF, 3632px 2385px #FFF, 354px 3638px #FFF, 2011px 1690px #FFF, 3570px 2575px #FFF;
  animation: animStar 50s linear infinite;
  z-index: -1;
}

.container #stars #stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1235px 2072px #FFF, 1616px 3816px #FFF, 3340px 2640px #FFF, 2417px 3100px #FFF, 654px 637px #FFF, 290px 251px #FFF, 2368px 2353px #FFF, 2667px 2391px #FFF, 711px 3853px #FFF, 390px 1887px #FFF, 2247px 1405px #FFF, 2344px 2208px #FFF, 919px 3212px #FFF, 2523px 241px #FFF, 2906px 3338px #FFF, 883px 2311px #FFF, 387px 3128px #FFF, 749px 3620px #FFF, 1711px 2585px #FFF, 173px 2334px #FFF, 3891px 818px #FFF, 2907px 1213px #FFF, 2583px 723px #FFF, 3482px 2997px #FFF, 1971px 2610px #FFF, 884px 2662px #FFF, 627px 3997px #FFF, 1894px 419px #FFF, 691px 1408px #FFF, 3211px 1905px #FFF, 216px 3077px #FFF, 2412px 290px #FFF, 671px 1128px #FFF, 1311px 883px #FFF, 3990px 1921px #FFF, 345px 1916px #FFF, 578px 2474px #FFF, 1928px 3616px #FFF, 950px 607px #FFF, 552px 1947px #FFF, 1579px 3660px #FFF, 3715px 3628px #FFF, 1081px 2776px #FFF, 1834px 2593px #FFF, 3742px 3913px #FFF, 3190px 2389px #FFF, 1951px 1139px #FFF, 1857px 204px #FFF, 3969px 3080px #FFF, 1716px 2541px #FFF, 2392px 1898px #FFF, 1992px 2178px #FFF, 3698px 2389px #FFF, 111px 229px #FFF, 2322px 776px #FFF, 1082px 2782px #FFF, 707px 3085px #FFF, 3903px 1779px #FFF, 930px 1631px #FFF, 3388px 175px #FFF, 2142px 2413px #FFF, 2783px 2728px #FFF, 3383px 2030px #FFF, 1522px 1897px #FFF, 1473px 590px #FFF, 629px 453px #FFF, 1056px 65px #FFF, 3318px 3391px #FFF, 893px 2247px #FFF, 63px 2988px #FFF, 1527px 1437px #FFF, 2936px 3443px #FFF, 1406px 2532px #FFF, 2484px 237px #FFF, 3762px 807px #FFF, 3457px 479px #FFF, 2187px 1185px #FFF, 2239px 1686px #FFF, 2831px 829px #FFF, 556px 2591px #FFF, 3905px 3038px #FFF, 3412px 1966px #FFF, 2158px 3351px #FFF, 3370px 919px #FFF, 2493px 3885px #FFF, 1959px 2522px #FFF, 2591px 2148px #FFF, 504px 2822px #FFF, 2698px 2220px #FFF, 1005px 245px #FFF, 2116px 981px #FFF, 2578px 780px #FFF, 1582px 1337px #FFF, 3377px 3922px #FFF, 240px 484px #FFF, 977px 2326px #FFF, 3631px 2635px #FFF, 3265px 2686px #FFF, 100px 2400px #FFF, 3306px 3696px #FFF, 724px 2589px #FFF, 241px 2284px #FFF, 2079px 107px #FFF, 1082px 2564px #FFF, 2324px 3647px #FFF, 2006px 96px #FFF, 2999px 880px #FFF, 1263px 3384px #FFF, 306px 1457px #FFF, 3502px 1977px #FFF, 51px 469px #FFF, 1313px 1586px #FFF, 904px 1592px #FFF, 1643px 3908px #FFF, 3178px 1930px #FFF, 3584px 2211px #FFF, 642px 239px #FFF, 3382px 3779px #FFF, 1949px 2174px #FFF, 1808px 3374px #FFF, 195px 2160px #FFF, 680px 2916px #FFF, 1737px 1971px #FFF, 532px 569px #FFF, 1859px 3868px #FFF, 713px 899px #FFF, 3768px 3452px #FFF, 1417px 2503px #FFF, 2573px 3852px #FFF, 1049px 2129px #FFF, 3917px 1770px #FFF, 3458px 1555px #FFF, 834px 3316px #FFF, 1614px 3134px #FFF, 2395px 587px #FFF, 1484px 144px #FFF, 1996px 2337px #FFF, 3786px 2622px #FFF, 3189px 532px #FFF, 1897px 2080px #FFF, 2944px 26px #FFF, 1213px 2748px #FFF, 620px 3779px #FFF, 3242px 3546px #FFF, 1706px 1060px #FFF, 1471px 1754px #FFF, 2648px 691px #FFF, 1938px 3860px #FFF, 3588px 361px #FFF, 668px 3028px #FFF, 3360px 444px #FFF, 832px 3162px #FFF, 467px 2284px #FFF, 3314px 3191px #FFF, 2333px 3125px #FFF, 3098px 3194px #FFF, 2754px 1010px #FFF, 1157px 1544px #FFF, 3189px 1022px #FFF, 2242px 3727px #FFF, 957px 1270px #FFF, 281px 2330px #FFF, 3695px 976px #FFF, 450px 1978px #FFF, 571px 1592px #FFF, 3457px 1273px #FFF, 2883px 2914px #FFF, 119px 2191px #FFF, 3082px 1759px #FFF, 1688px 2208px #FFF, 1864px 202px #FFF, 2149px 3252px #FFF, 1196px 1146px #FFF, 1976px 3406px #FFF, 3201px 1658px #FFF, 368px 3827px #FFF, 1399px 1786px #FFF, 1919px 3932px #FFF, 2910px 1490px #FFF, 856px 961px #FFF, 3317px 2013px #FFF, 1842px 1683px #FFF, 560px 948px #FFF, 388px 979px #FFF, 2090px 2984px #FFF, 2426px 2419px #FFF, 437px 2908px #FFF, 3343px 3993px #FFF, 230px 1000px #FFF, 372px 3986px #FFF, 3229px 3617px #FFF, 3141px 1131px #FFF, 3060px 1351px #FFF, 2422px 3067px #FFF, 3637px 114px #FFF, 3655px 1934px #FFF, 2564px 1588px #FFF, 3166px 3312px #FFF, 1804px 957px #FFF, 3913px 1606px #FFF, 3664px 1673px #FFF, 2100px 2981px #FFF, 413px 387px #FFF, 1076px 1513px #FFF, 3909px 3651px #FFF, 540px 3266px #FFF, 784px 3191px #FFF, 1740px 1001px #FFF, 3114px 2807px #FFF, 2261px 826px #FFF, 3736px 3796px #FFF, 106px 180px #FFF, 2001px 982px #FFF, 48px 1122px #FFF, 2363px 780px #FFF, 139px 2020px #FFF, 2031px 3914px #FFF, 1218px 3634px #FFF, 3621px 2170px #FFF, 367px 895px #FFF, 3628px 1599px #FFF, 73px 3593px #FFF, 827px 658px #FFF, 282px 3910px #FFF, 2166px 144px #FFF, 961px 2014px #FFF, 997px 3687px #FFF, 1846px 117px #FFF, 3370px 3114px #FFF, 3141px 2141px #FFF, 915px 443px #FFF, 2785px 2323px #FFF, 1181px 3463px #FFF, 2179px 474px #FFF, 705px 1199px #FFF, 173px 1998px #FFF, 3659px 1604px #FFF, 2173px 308px #FFF, 64px 255px #FFF, 1568px 287px #FFF, 1646px 179px #FFF, 2425px 3970px #FFF, 2002px 415px #FFF, 3272px 3638px #FFF, 1080px 2142px #FFF, 166px 33px #FFF, 2568px 2797px #FFF, 2639px 3704px #FFF, 2274px 1836px #FFF, 1883px 3044px #FFF, 936px 467px #FFF, 3198px 3715px #FFF, 1313px 894px #FFF, 195px 1214px #FFF, 815px 3027px #FFF, 3715px 901px #FFF, 2537px 2126px #FFF, 155px 1061px #FFF, 530px 2603px #FFF, 858px 3087px #FFF, 934px 864px #FFF, 457px 638px #FFF, 1744px 917px #FFF, 1491px 2668px #FFF, 3852px 1122px #FFF, 609px 1673px #FFF, 2194px 2570px #FFF, 85px 923px #FFF, 2067px 1777px #FFF, 2225px 784px #FFF, 2815px 1838px #FFF, 126px 2404px #FFF, 3400px 1381px #FFF, 1664px 1095px #FFF, 1718px 3259px #FFF, 580px 3459px #FFF, 1126px 3265px #FFF, 1450px 450px #FFF, 2055px 533px #FFF, 272px 2906px #FFF, 2881px 1817px #FFF, 297px 2868px #FFF, 3150px 2880px #FFF, 2474px 2986px #FFF, 3655px 3190px #FFF, 3176px 102px #FFF, 794px 1663px #FFF, 942px 1939px #FFF, 1920px 3186px #FFF, 1855px 3434px #FFF, 474px 1982px #FFF, 3023px 1550px #FFF, 2088px 3242px #FFF, 717px 610px #FFF, 576px 1185px #FFF, 494px 2832px #FFF, 98px 259px #FFF, 2258px 3585px #FFF, 3049px 1293px #FFF, 3893px 114px #FFF, 2155px 2748px #FFF, 3120px 313px #FFF, 3693px 3099px #FFF, 973px 2021px #FFF, 77px 1384px #FFF, 963px 2748px #FFF, 1806px 1174px #FFF, 1743px 2253px #FFF, 2300px 964px #FFF, 997px 2741px #FFF, 1270px 1323px #FFF, 82px 2473px #FFF, 3554px 2180px #FFF, 568px 715px #FFF, 2608px 3817px #FFF, 1396px 527px #FFF, 1251px 314px #FFF, 1744px 3379px #FFF, 148px 2454px #FFF, 991px 1885px #FFF, 1182px 3217px #FFF, 2703px 140px #FFF, 601px 278px #FFF, 3495px 1675px #FFF, 1142px 986px #FFF, 6px 457px #FFF, 2212px 3292px #FFF, 274px 3162px #FFF, 3654px 1688px #FFF, 3978px 1237px #FFF, 1455px 1154px #FFF, 3340px 3435px #FFF, 2023px 3531px #FFF, 3041px 2194px #FFF, 3583px 2367px #FFF, 3061px 487px #FFF, 3476px 1520px #FFF, 1214px 3961px #FFF, 200px 3193px #FFF, 2603px 95px #FFF, 3808px 3568px #FFF, 3896px 617px #FFF, 1754px 3919px #FFF, 2052px 1553px #FFF, 3832px 252px #FFF, 2315px 1586px #FFF, 677px 1151px #FFF, 3851px 2817px #FFF, 3981px 2691px #FFF, 1571px 653px #FFF, 3768px 512px #FFF, 2766px 1777px #FFF, 1021px 3047px #FFF, 3518px 3511px #FFF, 1728px 1365px #FFF, 793px 1155px #FFF, 792px 1961px #FFF, 1710px 3636px #FFF, 168px 2397px #FFF, 3063px 561px #FFF, 1090px 816px #FFF, 1772px 3173px #FFF, 2756px 3576px #FFF, 2660px 3503px #FFF, 839px 2216px #FFF, 2394px 3183px #FFF, 1217px 1038px #FFF, 2037px 2092px #FFF, 3666px 811px #FFF, 2641px 3066px #FFF, 2869px 2740px #FFF, 433px 1671px #FFF, 3737px 2108px #FFF, 1743px 46px #FFF, 189px 686px #FFF, 506px 3213px #FFF, 3707px 3584px #FFF, 1790px 79px #FFF, 2806px 342px #FFF, 1179px 1759px #FFF, 3979px 3499px #FFF, 2520px 1080px #FFF, 2431px 560px #FFF, 3309px 945px #FFF, 615px 35px #FFF, 1407px 1309px #FFF, 3685px 958px #FFF, 2293px 3161px #FFF, 2016px 3393px #FFF, 3887px 3221px #FFF, 3114px 3932px #FFF, 1920px 1957px #FFF, 2179px 657px #FFF, 688px 3864px #FFF, 830px 164px #FFF, 1500px 3560px #FFF, 182px 3312px #FFF, 3982px 796px #FFF, 2876px 332px #FFF, 3646px 863px #FFF, 2517px 84px #FFF, 616px 1999px #FFF, 581px 1590px #FFF, 1789px 3372px #FFF, 85px 1026px #FFF, 2806px 1162px #FFF, 3805px 2940px #FFF, 2285px 1668px #FFF, 717px 693px #FFF, 3414px 3366px #FFF, 1962px 1425px #FFF, 76px 3903px #FFF, 1471px 424px #FFF, 2091px 1451px #FFF, 2951px 2945px #FFF, 3092px 2484px #FFF, 500px 1718px #FFF, 2574px 752px #FFF, 1571px 1533px #FFF, 1318px 1278px #FFF, 2033px 1490px #FFF, 787px 3422px #FFF, 3876px 569px #FFF, 3917px 1869px #FFF, 665px 3019px #FFF, 3263px 2369px #FFF, 2108px 3647px #FFF, 2326px 3358px #FFF, 1776px 2776px #FFF, 2091px 780px #FFF, 1205px 1912px #FFF, 3135px 3762px #FFF, 2961px 2986px #FFF, 3557px 1169px #FFF, 3880px 3587px #FFF, 1709px 689px #FFF, 3299px 2894px #FFF, 1047px 3116px #FFF, 730px 2309px #FFF, 2411px 875px #FFF, 369px 3399px #FFF, 165px 480px #FFF, 688px 1790px #FFF, 2765px 3736px #FFF, 2957px 3294px #FFF, 1373px 2483px #FFF, 2877px 2031px #FFF, 3696px 1324px #FFF, 155px 179px #FFF, 1465px 69px #FFF, 1838px 3357px #FFF, 1338px 3235px #FFF, 1238px 2977px #FFF, 1886px 1359px #FFF, 2080px 2792px #FFF, 1045px 1944px #FFF, 3484px 2669px #FFF, 2462px 1712px #FFF, 1050px 260px #FFF, 3827px 1535px #FFF, 1349px 692px #FFF, 2605px 2059px #FFF, 367px 1855px #FFF, 3864px 3654px #FFF, 3514px 3768px #FFF, 2547px 1456px #FFF, 2662px 3878px #FFF, 2044px 3466px #FFF, 1225px 3123px #FFF, 1742px 1543px #FFF, 154px 3123px #FFF, 502px 2837px #FFF, 3664px 3965px #FFF, 2354px 2298px #FFF, 3598px 2972px #FFF, 3177px 83px #FFF, 2568px 1072px #FFF, 3433px 495px #FFF, 3552px 845px #FFF, 252px 532px #FFF, 2577px 3394px #FFF, 35px 3640px #FFF, 3794px 3362px #FFF, 1671px 2236px #FFF, 1140px 2237px #FFF, 3456px 2681px #FFF, 1797px 680px #FFF, 884px 238px #FFF, 3789px 143px #FFF, 3291px 1012px #FFF, 3939px 1978px #FFF, 2951px 3622px #FFF, 2430px 2244px #FFF, 3452px 3596px #FFF, 3372px 3256px #FFF, 1497px 751px #FFF, 1189px 2909px #FFF, 1639px 3740px #FFF, 1983px 3800px #FFF, 917px 1544px #FFF, 3094px 980px #FFF, 3826px 3249px #FFF, 3057px 2083px #FFF, 1758px 39px #FFF, 2085px 2412px #FFF, 3067px 3595px #FFF, 2448px 3051px #FFF, 1939px 1104px #FFF, 3234px 2382px #FFF, 1071px 3127px #FFF, 1962px 1045px #FFF, 2897px 3991px #FFF, 1025px 3171px #FFF, 1283px 2160px #FFF, 3420px 1729px #FFF, 412px 2596px #FFF, 3100px 1482px #FFF, 771px 3866px #FFF, 2778px 3560px #FFF, 345px 140px #FFF, 3689px 1280px #FFF, 326px 2376px #FFF, 2622px 3232px #FFF, 1840px 2573px #FFF, 464px 651px #FFF, 3393px 2329px #FFF, 685px 1432px #FFF, 68px 1260px #FFF, 1539px 3692px #FFF, 3553px 2967px #FFF, 2270px 2193px #FFF, 3423px 2914px #FFF, 2858px 3776px #FFF, 3363px 3296px #FFF, 603px 900px #FFF, 999px 3491px #FFF, 2807px 2863px #FFF, 2198px 3677px #FFF, 3149px 16px #FFF, 997px 3228px #FFF, 2958px 606px #FFF, 1901px 2040px #FFF, 3758px 719px #FFF, 387px 1440px #FFF, 1284px 3901px #FFF, 2813px 1270px #FFF, 1075px 3285px #FFF, 2848px 997px #FFF, 1068px 317px #FFF, 3961px 2644px #FFF, 483px 1377px #FFF, 2405px 2234px #FFF, 2829px 654px #FFF, 3238px 1212px #FFF, 1098px 2194px #FFF, 1736px 1833px #FFF, 3442px 539px #FFF, 184px 1900px #FFF, 3953px 3875px #FFF, 2635px 2195px #FFF, 1197px 3591px #FFF, 1398px 3763px #FFF, 2264px 2069px #FFF, 681px 2087px #FFF, 1356px 1439px #FFF, 1101px 85px #FFF, 2183px 3953px #FFF, 2939px 3722px #FFF, 3882px 2379px #FFF, 1786px 1196px #FFF, 1014px 654px #FFF, 1652px 3359px #FFF, 2384px 1894px #FFF, 3689px 3491px #FFF, 1402px 638px #FFF, 577px 2676px #FFF, 2932px 3659px #FFF, 1271px 853px #FFF, 607px 2390px #FFF, 2302px 2492px #FFF, 2270px 244px #FFF, 1321px 152px #FFF, 2811px 1788px #FFF, 364px 740px #FFF, 785px 890px #FFF, 2623px 3698px #FFF, 810px 532px #FFF, 2825px 330px #FFF, 2484px 414px #FFF, 2401px 1393px #FFF, 3132px 1736px #FFF, 673px 1508px #FFF, 159px 130px #FFF, 2226px 3994px #FFF, 718px 2634px #FFF, 1166px 1868px #FFF, 255px 3537px #FFF, 837px 996px #FFF, 3792px 3484px #FFF, 2536px 2756px #FFF, 1419px 3464px #FFF, 1077px 806px #FFF, 985px 3800px #FFF, 2863px 895px #FFF, 3373px 359px #FFF, 421px 3126px #FFF, 3690px 3732px #FFF, 3147px 3390px #FFF, 315px 1344px #FFF, 2419px 3821px #FFF, 119px 3641px #FFF, 1444px 1406px #FFF, 1891px 220px #FFF, 880px 1306px #FFF, 2528px 3209px #FFF, 2203px 2732px #FFF, 2506px 946px #FFF, 962px 758px #FFF, 2171px 3912px #FFF, 869px 1208px #FFF, 1558px 3636px #FFF, 3183px 2950px #FFF, 1139px 618px #FFF, 553px 2248px #FFF, 2067px 1052px #FFF, 445px 2538px #FFF, 3185px 3453px #FFF, 2842px 2936px #FFF, 1859px 2758px #FFF, 1434px 2850px #FFF, 2340px 2687px #FFF, 1456px 3543px #FFF, 2482px 3989px #FFF, 1419px 1812px #FFF, 1716px 1504px #FFF, 718px 1365px #FFF, 3972px 3224px #FFF, 342px 2596px #FFF, 2032px 2263px #FFF, 1559px 2080px #FFF, 511px 1444px #FFF, 2155px 688px #FFF, 2567px 2636px #FFF, 2543px 2105px #FFF, 661px 883px #FFF, 3747px 1893px #FFF, 2952px 682px #FFF, 1909px 508px #FFF, 1923px 2730px #FFF, 34px 228px #FFF, 2455px 3388px #FFF, 1945px 2657px #FFF, 1598px 2139px #FFF, 332px 2277px #FFF, 1826px 597px #FFF, 955px 2199px #FFF, 3535px 3289px #FFF, 2326px 2057px #FFF, 2499px 2091px #FFF, 1338px 1792px #FFF, 3718px 3902px #FFF, 1785px 468px #FFF, 3356px 3827px #FFF, 1142px 1598px #FFF, 1946px 976px #FFF, 1312px 2552px #FFF, 3151px 3560px #FFF, 3480px 2609px #FFF, 2933px 1991px #FFF, 1031px 3663px #FFF, 3993px 809px #FFF, 2970px 3452px #FFF, 536px 1153px #FFF, 867px 513px #FFF, 597px 3320px #FFF, 3006px 980px #FFF, 3309px 3431px #FFF, 2142px 2359px #FFF, 3592px 1815px #FFF, 2495px 2545px #FFF, 196px 3936px #FFF, 2659px 3064px #FFF, 563px 1638px #FFF, 97px 2718px #FFF, 3881px 3691px #FFF, 1087px 660px #FFF, 273px 237px #FFF, 2340px 1655px #FFF, 913px 3421px #FFF, 3060px 2979px #FFF, 1764px 2744px #FFF, 880px 3124px #FFF, 1661px 2445px #FFF, 3187px 392px #FFF, 2395px 1970px #FFF, 1748px 1001px #FFF, 3632px 2385px #FFF, 354px 3638px #FFF, 2011px 1690px #FFF, 3570px 2575px #FFF;
}

.container #stars #stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 3914px 357px #FFF, 861px 2489px #FFF, 634px 2601px #FFF, 2181px 1281px #FFF, 3354px 1020px #FFF, 1501px 3201px #FFF, 3304px 3087px #FFF, 1663px 181px #FFF, 3691px 1984px #FFF, 1529px 2825px #FFF, 2253px 1203px #FFF, 296px 1330px #FFF, 2025px 2154px #FFF, 325px 3794px #FFF, 3580px 3083px #FFF, 3574px 1851px #FFF, 1503px 2849px #FFF, 3308px 3102px #FFF, 1162px 2505px #FFF, 1961px 1964px #FFF, 877px 2823px #FFF, 3285px 2203px #FFF, 2338px 2328px #FFF, 3424px 3520px #FFF, 1497px 786px #FFF, 2562px 1616px #FFF, 2484px 3044px #FFF, 2400px 1492px #FFF, 2721px 3335px #FFF, 1251px 805px #FFF, 936px 1596px #FFF, 1236px 2707px #FFF, 984px 1581px #FFF, 3596px 1381px #FFF, 354px 1443px #FFF, 2656px 1038px #FFF, 2961px 315px #FFF, 49px 1014px #FFF, 3098px 3611px #FFF, 3104px 2934px #FFF, 1866px 3488px #FFF, 487px 356px #FFF, 3287px 3004px #FFF, 1331px 107px #FFF, 3660px 2059px #FFF, 3223px 41px #FFF, 151px 1561px #FFF, 2547px 418px #FFF, 1340px 748px #FFF, 1705px 1842px #FFF, 1483px 1558px #FFF, 2496px 666px #FFF, 2210px 1861px #FFF, 3568px 2253px #FFF, 1251px 441px #FFF, 431px 3998px #FFF, 3136px 733px #FFF, 584px 77px #FFF, 3606px 2968px #FFF, 3012px 3471px #FFF, 10px 958px #FFF, 398px 1661px #FFF, 2908px 3444px #FFF, 1006px 600px #FFF, 1080px 3453px #FFF, 3923px 351px #FFF, 2823px 2308px #FFF, 567px 3841px #FFF, 358px 3325px #FFF, 1059px 79px #FFF, 921px 1696px #FFF, 2404px 1269px #FFF, 1226px 2183px #FFF, 2936px 802px #FFF, 1435px 1643px #FFF, 792px 3253px #FFF, 3113px 1709px #FFF, 1670px 2712px #FFF, 1132px 2155px #FFF, 106px 74px #FFF, 3022px 2946px #FFF, 649px 2596px #FFF, 1645px 2208px #FFF, 3443px 385px #FFF, 3062px 3098px #FFF, 3724px 3398px #FFF, 1771px 261px #FFF, 2708px 1333px #FFF, 3024px 3788px #FFF, 3479px 1534px #FFF, 3747px 3065px #FFF, 1292px 3740px #FFF, 1238px 3438px #FFF, 2194px 3083px #FFF, 538px 719px #FFF, 1760px 1975px #FFF, 2270px 2331px #FFF, 3277px 3071px #FFF, 869px 1038px #FFF, 805px 43px #FFF, 394px 2327px #FFF, 2148px 3465px #FFF, 2883px 1540px #FFF, 1145px 1991px #FFF, 1820px 3763px #FFF, 1797px 532px #FFF, 3407px 62px #FFF, 2663px 2416px #FFF, 273px 2291px #FFF, 3809px 499px #FFF, 1345px 569px #FFF, 1689px 3662px #FFF, 2880px 996px #FFF, 3615px 2411px #FFF, 2361px 2534px #FFF, 3387px 1354px #FFF, 3153px 3088px #FFF, 772px 3270px #FFF, 3844px 3345px #FFF, 2376px 1945px #FFF, 408px 3174px #FFF, 3873px 1948px #FFF, 2175px 3480px #FFF, 3587px 3959px #FFF, 3572px 3846px #FFF, 1693px 177px #FFF, 3577px 417px #FFF, 2745px 3459px #FFF, 611px 1202px #FFF, 963px 3765px #FFF, 1211px 2203px #FFF, 552px 974px #FFF, 3581px 2534px #FFF, 24px 3505px #FFF, 3402px 814px #FFF, 2038px 1359px #FFF, 1748px 845px #FFF, 2637px 3916px #FFF, 1679px 3742px #FFF, 3931px 3383px #FFF, 1785px 3324px #FFF, 644px 3662px #FFF, 291px 2362px #FFF, 3402px 227px #FFF, 1999px 3193px #FFF, 1472px 2196px #FFF, 788px 789px #FFF, 1074px 1994px #FFF, 2339px 2134px #FFF, 3769px 2169px #FFF, 2294px 552px #FFF, 2112px 3132px #FFF, 2242px 1253px #FFF, 551px 568px #FFF, 26px 3994px #FFF, 744px 1774px #FFF, 1746px 1185px #FFF, 2437px 1709px #FFF, 1268px 1924px #FFF, 234px 829px #FFF, 3729px 718px #FFF, 2151px 260px #FFF, 3318px 673px #FFF, 1645px 486px #FFF, 1706px 1206px #FFF, 1130px 1599px #FFF, 2729px 3071px #FFF, 1214px 1095px #FFF, 3048px 2799px #FFF, 488px 1761px #FFF, 1774px 2878px #FFF, 2253px 1877px #FFF, 3635px 86px #FFF, 1778px 317px #FFF, 854px 3735px #FFF, 3101px 3644px #FFF, 974px 2084px #FFF, 2914px 2727px #FFF, 2557px 3212px #FFF, 1093px 1763px #FFF, 3242px 3553px #FFF, 485px 3298px #FFF, 2770px 3745px #FFF, 1297px 3572px #FFF, 2185px 3681px #FFF, 1518px 2121px #FFF, 1329px 3546px #FFF, 830px 412px #FFF, 3505px 961px #FFF, 3687px 3181px #FFF, 3917px 4px #FFF, 2393px 2673px #FFF, 3193px 2313px #FFF, 384px 2225px #FFF, 375px 192px #FFF, 794px 2431px #FFF, 3945px 416px #FFF, 2927px 408px #FFF, 1061px 2343px #FFF, 921px 906px #FFF;
  animation: animStar 100s linear infinite;
}

.container #stars #stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 3914px 357px #FFF, 861px 2489px #FFF, 634px 2601px #FFF, 2181px 1281px #FFF, 3354px 1020px #FFF, 1501px 3201px #FFF, 3304px 3087px #FFF, 1663px 181px #FFF, 3691px 1984px #FFF, 1529px 2825px #FFF, 2253px 1203px #FFF, 296px 1330px #FFF, 2025px 2154px #FFF, 325px 3794px #FFF, 3580px 3083px #FFF, 3574px 1851px #FFF, 1503px 2849px #FFF, 3308px 3102px #FFF, 1162px 2505px #FFF, 1961px 1964px #FFF, 877px 2823px #FFF, 3285px 2203px #FFF, 2338px 2328px #FFF, 3424px 3520px #FFF, 1497px 786px #FFF, 2562px 1616px #FFF, 2484px 3044px #FFF, 2400px 1492px #FFF, 2721px 3335px #FFF, 1251px 805px #FFF, 936px 1596px #FFF, 1236px 2707px #FFF, 984px 1581px #FFF, 3596px 1381px #FFF, 354px 1443px #FFF, 2656px 1038px #FFF, 2961px 315px #FFF, 49px 1014px #FFF, 3098px 3611px #FFF, 3104px 2934px #FFF, 1866px 3488px #FFF, 487px 356px #FFF, 3287px 3004px #FFF, 1331px 107px #FFF, 3660px 2059px #FFF, 3223px 41px #FFF, 151px 1561px #FFF, 2547px 418px #FFF, 1340px 748px #FFF, 1705px 1842px #FFF, 1483px 1558px #FFF, 2496px 666px #FFF, 2210px 1861px #FFF, 3568px 2253px #FFF, 1251px 441px #FFF, 431px 3998px #FFF, 3136px 733px #FFF, 584px 77px #FFF, 3606px 2968px #FFF, 3012px 3471px #FFF, 10px 958px #FFF, 398px 1661px #FFF, 2908px 3444px #FFF, 1006px 600px #FFF, 1080px 3453px #FFF, 3923px 351px #FFF, 2823px 2308px #FFF, 567px 3841px #FFF, 358px 3325px #FFF, 1059px 79px #FFF, 921px 1696px #FFF, 2404px 1269px #FFF, 1226px 2183px #FFF, 2936px 802px #FFF, 1435px 1643px #FFF, 792px 3253px #FFF, 3113px 1709px #FFF, 1670px 2712px #FFF, 1132px 2155px #FFF, 106px 74px #FFF, 3022px 2946px #FFF, 649px 2596px #FFF, 1645px 2208px #FFF, 3443px 385px #FFF, 3062px 3098px #FFF, 3724px 3398px #FFF, 1771px 261px #FFF, 2708px 1333px #FFF, 3024px 3788px #FFF, 3479px 1534px #FFF, 3747px 3065px #FFF, 1292px 3740px #FFF, 1238px 3438px #FFF, 2194px 3083px #FFF, 538px 719px #FFF, 1760px 1975px #FFF, 2270px 2331px #FFF, 3277px 3071px #FFF, 869px 1038px #FFF, 805px 43px #FFF, 394px 2327px #FFF, 2148px 3465px #FFF, 2883px 1540px #FFF, 1145px 1991px #FFF, 1820px 3763px #FFF, 1797px 532px #FFF, 3407px 62px #FFF, 2663px 2416px #FFF, 273px 2291px #FFF, 3809px 499px #FFF, 1345px 569px #FFF, 1689px 3662px #FFF, 2880px 996px #FFF, 3615px 2411px #FFF, 2361px 2534px #FFF, 3387px 1354px #FFF, 3153px 3088px #FFF, 772px 3270px #FFF, 3844px 3345px #FFF, 2376px 1945px #FFF, 408px 3174px #FFF, 3873px 1948px #FFF, 2175px 3480px #FFF, 3587px 3959px #FFF, 3572px 3846px #FFF, 1693px 177px #FFF, 3577px 417px #FFF, 2745px 3459px #FFF, 611px 1202px #FFF, 963px 3765px #FFF, 1211px 2203px #FFF, 552px 974px #FFF, 3581px 2534px #FFF, 24px 3505px #FFF, 3402px 814px #FFF, 2038px 1359px #FFF, 1748px 845px #FFF, 2637px 3916px #FFF, 1679px 3742px #FFF, 3931px 3383px #FFF, 1785px 3324px #FFF, 644px 3662px #FFF, 291px 2362px #FFF, 3402px 227px #FFF, 1999px 3193px #FFF, 1472px 2196px #FFF, 788px 789px #FFF, 1074px 1994px #FFF, 2339px 2134px #FFF, 3769px 2169px #FFF, 2294px 552px #FFF, 2112px 3132px #FFF, 2242px 1253px #FFF, 551px 568px #FFF, 26px 3994px #FFF, 744px 1774px #FFF, 1746px 1185px #FFF, 2437px 1709px #FFF, 1268px 1924px #FFF, 234px 829px #FFF, 3729px 718px #FFF, 2151px 260px #FFF, 3318px 673px #FFF, 1645px 486px #FFF, 1706px 1206px #FFF, 1130px 1599px #FFF, 2729px 3071px #FFF, 1214px 1095px #FFF, 3048px 2799px #FFF, 488px 1761px #FFF, 1774px 2878px #FFF, 2253px 1877px #FFF, 3635px 86px #FFF, 1778px 317px #FFF, 854px 3735px #FFF, 3101px 3644px #FFF, 974px 2084px #FFF, 2914px 2727px #FFF, 2557px 3212px #FFF, 1093px 1763px #FFF, 3242px 3553px #FFF, 485px 3298px #FFF, 2770px 3745px #FFF, 1297px 3572px #FFF, 2185px 3681px #FFF, 1518px 2121px #FFF, 1329px 3546px #FFF, 830px 412px #FFF, 3505px 961px #FFF, 3687px 3181px #FFF, 3917px 4px #FFF, 2393px 2673px #FFF, 3193px 2313px #FFF, 384px 2225px #FFF, 375px 192px #FFF, 794px 2431px #FFF, 3945px 416px #FFF, 2927px 408px #FFF, 1061px 2343px #FFF, 921px 906px #FFF;
}

.container #stars #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1368px 705px #FFF, 12px 3154px #FFF, 1932px 2067px #FFF, 3549px 2102px #FFF, 3851px 1807px #FFF, 336px 356px #FFF, 317px 3377px #FFF, 465px 1392px #FFF, 3521px 3125px #FFF, 2794px 484px #FFF, 254px 3528px #FFF, 3865px 334px #FFF, 3943px 54px #FFF, 561px 547px #FFF, 758px 1193px #FFF, 3525px 365px #FFF, 3569px 1125px #FFF, 524px 2101px #FFF, 853px 1455px #FFF, 875px 1389px #FFF, 1944px 3311px #FFF, 1222px 1459px #FFF, 3654px 2104px #FFF, 2975px 1674px #FFF, 1993px 830px #FFF, 2513px 1564px #FFF, 3192px 1207px #FFF, 3759px 1666px #FFF, 96px 1272px #FFF, 2741px 2992px #FFF, 3618px 1643px #FFF, 2795px 1377px #FFF, 1545px 3395px #FFF, 1657px 1816px #FFF, 497px 2058px #FFF, 3244px 1850px #FFF, 3416px 417px #FFF, 1427px 2713px #FFF, 872px 872px #FFF, 610px 3288px #FFF, 59px 2872px #FFF, 576px 1226px #FFF, 665px 8px #FFF, 2444px 2327px #FFF, 3587px 2910px #FFF, 2903px 1124px #FFF, 3481px 3925px #FFF, 3499px 2443px #FFF, 3628px 2499px #FFF, 165px 725px #FFF, 1897px 2880px #FFF, 3101px 1840px #FFF, 2772px 2420px #FFF, 2113px 3969px #FFF, 938px 1379px #FFF, 3881px 1600px #FFF, 1008px 2077px #FFF, 2312px 2570px #FFF, 3778px 1303px #FFF, 2601px 3256px #FFF, 401px 1376px #FFF, 1234px 1454px #FFF, 1411px 279px #FFF, 3195px 3673px #FFF, 2591px 3524px #FFF, 3327px 3965px #FFF, 1105px 2350px #FFF, 2091px 3963px #FFF, 1923px 3740px #FFF, 3741px 145px #FFF, 1923px 3415px #FFF, 390px 2551px #FFF, 2331px 1816px #FFF, 2687px 2345px #FFF, 168px 786px #FFF, 2811px 543px #FFF, 3037px 2582px #FFF, 2484px 1238px #FFF, 2891px 3326px #FFF, 2570px 1710px #FFF, 3136px 3466px #FFF, 2110px 1653px #FFF, 3065px 1403px #FFF, 3448px 2687px #FFF, 638px 776px #FFF, 2634px 1562px #FFF, 1392px 2242px #FFF, 360px 2993px #FFF, 336px 1826px #FFF, 1559px 1712px #FFF, 1200px 405px #FFF, 914px 1341px #FFF, 1883px 338px #FFF, 1448px 2353px #FFF, 3253px 2308px #FFF, 1506px 3870px #FFF, 3851px 1771px #FFF, 222px 1399px #FFF, 2180px 257px #FFF, 2171px 106px #FFF;
  animation: animStar 150s linear infinite;
}

.container #stars #stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1368px 705px #FFF, 12px 3154px #FFF, 1932px 2067px #FFF, 3549px 2102px #FFF, 3851px 1807px #FFF, 336px 356px #FFF, 317px 3377px #FFF, 465px 1392px #FFF, 3521px 3125px #FFF, 2794px 484px #FFF, 254px 3528px #FFF, 3865px 334px #FFF, 3943px 54px #FFF, 561px 547px #FFF, 758px 1193px #FFF, 3525px 365px #FFF, 3569px 1125px #FFF, 524px 2101px #FFF, 853px 1455px #FFF, 875px 1389px #FFF, 1944px 3311px #FFF, 1222px 1459px #FFF, 3654px 2104px #FFF, 2975px 1674px #FFF, 1993px 830px #FFF, 2513px 1564px #FFF, 3192px 1207px #FFF, 3759px 1666px #FFF, 96px 1272px #FFF, 2741px 2992px #FFF, 3618px 1643px #FFF, 2795px 1377px #FFF, 1545px 3395px #FFF, 1657px 1816px #FFF, 497px 2058px #FFF, 3244px 1850px #FFF, 3416px 417px #FFF, 1427px 2713px #FFF, 872px 872px #FFF, 610px 3288px #FFF, 59px 2872px #FFF, 576px 1226px #FFF, 665px 8px #FFF, 2444px 2327px #FFF, 3587px 2910px #FFF, 2903px 1124px #FFF, 3481px 3925px #FFF, 3499px 2443px #FFF, 3628px 2499px #FFF, 165px 725px #FFF, 1897px 2880px #FFF, 3101px 1840px #FFF, 2772px 2420px #FFF, 2113px 3969px #FFF, 938px 1379px #FFF, 3881px 1600px #FFF, 1008px 2077px #FFF, 2312px 2570px #FFF, 3778px 1303px #FFF, 2601px 3256px #FFF, 401px 1376px #FFF, 1234px 1454px #FFF, 1411px 279px #FFF, 3195px 3673px #FFF, 2591px 3524px #FFF, 3327px 3965px #FFF, 1105px 2350px #FFF, 2091px 3963px #FFF, 1923px 3740px #FFF, 3741px 145px #FFF, 1923px 3415px #FFF, 390px 2551px #FFF, 2331px 1816px #FFF, 2687px 2345px #FFF, 168px 786px #FFF, 2811px 543px #FFF, 3037px 2582px #FFF, 2484px 1238px #FFF, 2891px 3326px #FFF, 2570px 1710px #FFF, 3136px 3466px #FFF, 2110px 1653px #FFF, 3065px 1403px #FFF, 3448px 2687px #FFF, 638px 776px #FFF, 2634px 1562px #FFF, 1392px 2242px #FFF, 360px 2993px #FFF, 336px 1826px #FFF, 1559px 1712px #FFF, 1200px 405px #FFF, 914px 1341px #FFF, 1883px 338px #FFF, 1448px 2353px #FFF, 3253px 2308px #FFF, 1506px 3870px #FFF, 3851px 1771px #FFF, 222px 1399px #FFF, 2180px 257px #FFF, 2171px 106px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

.container #aktif::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(1);
}

.container header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 9%;
}

.container .content {
  width: 100%;
  height: 81%;
  z-index: 1;
}

.container .content .navbar {
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 6px;
}

.container .content .navbar a.aktif {
  background-color: rgba(128, 128, 128, 0.8);
}

.container .content .navbar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  background-color: rgba(128, 128, 128, 0.1);
  transition: color 0.5s;
  overflow: hidden;
  z-index: 1;
  border-radius: 2vh;
}

.container .content .navbar a:hover {
  color: white;
}

.container .content .navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  transition: left 0.5s;
  z-index: -1;
}

.container .content .navbar a:hover::before {
  left: 0;
}

.container .content .content-warp {
  display: flex;
  width: 100%;
  height: 87%;
  padding-top: 10px;
}

.container .content .content-warp .content-side {
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  overflow-y: auto;
}

.container .content .content-warp .content-side .profile {
  width: 80%;
  height: max-content;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "poppins", sans-serif;
  gap: 40px;
  /* padding: 50px; */
}

.container .content .content-warp .content-side .profile .heading {
  font-size: 23px;
  /* margin-bottom: 80px; */
  position: relative;
}

.container .content .content-warp .content-side .profile .heading span {
  color: rgb(0, 81, 255);
}

.container .content .content-warp .content-side .profile .heading::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  background-color: rgb(0, 81, 255);
}

.container .content .content-warp .content-side .profile .profile-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container .content .content-warp .content-side .profile .profile-card .card {
  width: 230px;
  aspect-ratio: 3/4;
  position: relative;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
  margin: 5px;
}

.container .content .content-warp .content-side .profile .profile-card .card::after {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: aqua;
}

.container .content .content-warp .content-side .profile .card img {
  width: 100%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fit;
  transition: .6s;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
  z-index: 99;

}

.container .content .content-warp .content-side .profile .card:hover img {
  transform: scale(.50) translateY(-120px);
  border-radius: 10px;
}

.container .content .content-warp .content-side .profile .card .detail {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
  transform: translateY(100%);
  transition: .6s;
  text-align: center;
}

.container .content .content-warp .content-side .profile .card:hover .detail {
  transform: translateY(0);
}

.container .content .content-warp .content-side .profile .profile-card .card .detail h3 {
  font-size: 24px;
  color: rgb(0, 81, 255);
}

.container .content .content-warp .content-side .profile .profile-card .card .detail#ardi {
  margin-top: 25px;
}

.container .content .content-warp .content-side .profile .profile-card .card .detail p {
  font-size: 15px;
  color: #333;
  margin-bottom: 7px;
}

.container footer {
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5%;
}
.container footer h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 800;
  font-size: medium;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.container footer .wave {
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 480px;
  animation: wave 29s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: -390px;
}
.container footer .wave:nth-of-type(2) {
  bottom: -405px;
  animation: wave 10s reverse infinite;
  opacity: 0.8;
}
.container footer .wave:nth-of-type(3) {
  bottom: -420px;
  animation: wave 18s linear reverse infinite;
  opacity: 0.9;
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-4%);
  }
  50% {
    transform: translateX(-9%);
  }
  75% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(1);
  }
}